.footer {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
}


.footer__copyright {
  line-height: 22px;  
  color: #545454;  
  object-fit: fill;
  max-width: 318px;  
  margin-top: 67px;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 0 0 0 19px;
  }
  .footer__copyright {
    max-width: 282px;  
    margin-top: 48px;
  }
}
